{% extends "base.html" %}
{% load static %}
{% block title %}Upload Product - FOXXY DRIP{% endblock title %}
{% block uploadproductactive %}active{% endblock uploadproductactive %}
{% block body %}
<h2>Upload New Product</h2>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    <label>Product Name:</label>
    <input type="text" name="name" required><br><br>
    
    <label>Price:</label>
    <input type="number" name="price" step="0.01" required><br><br>
    
    <h3>Colors</h3>
    <div id="colors">
        <div class="color-block">
            <label>Color Name:</label>
            <input type="text" name="color_name[]">
            <h4>Sizes</h4>
            {% for s in "SMLX"|make_list %}
                <label>{{ s }} Quantity:</label>
                <input type="number" name="qty_0_{{ s }}" min="0" value="0">
            {% endfor %}
            <hr>
        </div>
    </div>
    <button type="button" onclick="addColor()">Add Another Color</button>
    <button type="button" onclick="updateDesignDropdowns()">Update Colors</button>
    
    <h3>Designs</h3>
    <div id="designs">
        <div class="design-block">
            <label>Design Name:</label>
            <input type="text" name="design_name[]">
            <label>Description:</label>
            <input type="text" name="design_desc[]">
            <label>Associated Color:</label>
            <select name="design_color_index[]"></select>
            <label>Images:</label>
            <input type="file" name="design_images_0" multiple>
            <hr>
        </div>
    </div>
    <button type="button" onclick="addDesign()">Add Another Design</button>
    <br><br>
    <button type="submit">Upload Product</button>
</form>

<script>
let colorIndex = 1;
let designIndex = 1;

// Add new color block
function addColor() {
    const div = document.createElement('div');
    div.className = 'color-block';
    div.innerHTML = `
        <label>Color Name:</label>
        <input type="text" name="color_name[]">
        <h4>Sizes</h4>
        {% for s in "SMLX"|make_list %}
            <label>{{ s }} Quantity:</label>
            <input type="number" name="qty_${colorIndex}_{{ s }}" min="0" value="0">
        {% endfor %}
        <hr>
    `;
    document.getElementById('colors').appendChild(div);
    colorIndex++;
    updateDesignDropdowns();
}

// Add new design block
function addDesign() {
    const div = document.createElement('div');
    div.className = 'design-block';
    div.innerHTML = `
        <label>Design Name:</label>
        <input type="text" name="design_name[]">
        <label>Description:</label>
        <input type="text" name="design_desc[]">
        <label>Associated Color:</label>
        <select name="design_color_index[]"></select>
        <label>Images:</label>
        <input type="file" name="design_images_${designIndex}" multiple>
        <hr>
    `;
    document.getElementById('designs').appendChild(div);
    designIndex++;
    updateDesignDropdowns();
}

// Refresh design color selects
function updateDesignDropdowns() {
    const colorNames = [...document.querySelectorAll('input[name="color_name[]"]')].map(i => i.value);
    document.querySelectorAll('select[name="design_color_index[]"]').forEach(select => {
        const currentVal = select.value;
        select.innerHTML = '';
        colorNames.forEach((name, idx) => {
            if(name.trim() !== '') {
                const opt = document.createElement('option');
                opt.value = idx; // index in POST
                opt.text = name;
                select.add(opt);
            }
        });
        select.value = currentVal;
    });
}
</script>


<br><a href="{% url 'product_list' %}">View All Products</a>
{% endblock body %}
