.timeline {
    border-left: 3px solid #000;
    padding-left: 20px;
    position: relative;
  }
  .timeline li::before {
    content: '';
    position: absolute;
    left: -9px;
    top: 6px;
    width: 15px;
    height: 15px;
    background: black;
    border-radius: 50%;
  }