.bg-image {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-image: url("{% static 'background.jpg' %}");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    z-index: -1;
}

.content {
    position: relative;
    z-index: 2;
    padding: 20px;
}

html,
body {
    height: 100%;
}